<nav class="navbar navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand">Navbar</a>
    <form class="d-flex">
      <button class="btn btn-outline-success" type="submit">Checkout</button>
    </form>
  </div>
</nav>


<div class="container pb-5 mb-2 mt-5">

  <!-- Cart Item-->
  <div class="cart-item d-md-flex justify-content-between">
    <div class="px-3 my-3">
      <a class="cart-item-product" href="#">
        <div class="cart-item-product-thumb">
          <img src="https://i.picsum.photos/id/0/5616/3744.jpg?hmac=3GAAioiQziMGEtLbfrdbcoenXoWAW-zlyEAMkfEdBzQ"
            alt="Product">
        </div>
        <div class="cart-item-product-info">
          <h4 class="cart-item-product-title">MacBook Pro (15-inch, 2019)</h4><span><strong>Type:</strong>
            Computer</span><span><strong>Color:</strong> Silver</span>
        </div>
      </a>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Quantity</div>
      <div class="count-input">
        <select class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
          <option>6</option>
        </select>
      </div>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Price</div><span class="text-xl font-weight-medium">$9.99</span>
    </div>
    <div class="px-3 my-3 text-center">
      <div class="cart-item-label">Discount</div><span class="text-xl font-weight-medium">-10%</span>
    </div>
  </div>
