/* Main Body */
.cart-item-thumb {
    display: block;
    width: 10rem
}

.cart-item-thumb>img {
    display: block;
    width: 100%
}
.font-weight-semibold {
    font-weight: 600 !important;
}

.product-card-title {
    display: block;
    margin-bottom: .75rem;
    padding-bottom: .875rem;
    border-bottom: 1px dashed #e2e2e2;
    font-size: 1rem;
    font-weight: normal;
}

/* Side Bar */

img {
  max-width: 100%;
}

.product-info .connect {
  margin: 15px 0 5px 0;
}

.product-info .connect button {
  margin-right: 15px;
}